<h1>My first Angular Example</h1> <h2> great you did it..finally</h2>
{{title}}
 
<hr>

<div>

  User Name : {{uname}}<br/>
  Age       :{{age}}<br/>
  email      :{{email}}<br/>
</div>


<ul>
  <li *ngFor ="let s of skill">
    {{s}}
  </li>
</ul>

<ul>

 EMP ID : {{empObj.empID}}<br/>
 EMP Name : {{empObj.empName}}<br/>
Emp City :   {{empObj.empCity}}<br/>

</ul>


<table border="2" width="350">
  <tr>
    <th>EMP ID Number</th>
    <th>Emp Name</th>
    <th>Emp city</th>
  </tr>

  <tr  *ngFor="let  empObjs  of depts">
    <td> {{item.deptno}} </td>
    <td> {{item.dname}} </td>
    <td> {{item.loc}} </td>
  </tr>

</table>